html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: #fafbfc;
    font-family: OpenSans, sans-serif;
    margin: 0;
    padding: 0;
}

.site-container {
    margin: auto;
    max-width: 1200px;
    width: 80%;
}

.masthead {
    background: #2e3d49;
    padding: 2em 0;
    width: 100%;
}

.masthead h1 {
    color: #ffffff;
    font-weight: normal;
    margin: 0;
    margin-bottom: 0.2em;
    text-align: center;
}

/*** Search Form ***/
#search-form {
    display: flex;
    padding: 1em 0;
    flex-wrap: wrap;
}

#search-keyword {
    border: none;
    border-radius: 4px;
    flex-grow: 1;
    margin-right: 1.5em;
    padding: 1.25em 2em;
}

#submit-btn {
    background-color: #15c26b;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    padding: 1em 4em;
    text-transform: uppercase;
    margin: 6px auto 0 auto;
}

#submit-btn:hover {
    background-color: #12a159;
}


/*** Response Container ***/
#response-container {
    margin-top: 2em;
}

/*** Image Styline ***/
figure {
    margin: 0;
    margin-bottom: 2em;
    position: relative;
    text-align: center;
}

figure img {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 100%;
}

figcaption {
    bottom: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: 14px;
    padding: 0.8em 1.4em;
    position: absolute;
    width: 100%;
}

/*** Article Styling ***/
ul {
    list-style: none;
    padding: 0;
}

.article {
    background: url('../images/icon-article.png'), #ffffff;
    background-position: 1.5em 1.2em;
    background-repeat: no-repeat;
    background-size: 1.8em;
    border: solid 1px #dbe2e8;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5em;
    padding: 1em 2em 1em 4.8em;
}

.article:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.article h2 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.article h2 a {
    color: #02b3e4;
    text-decoration: none;
}

.article h2 a:hover {
    text-decoration: underline;
}

.article p {
    font-size: 0.9em;
    line-height: 1.4;
}


/*** Error State Styling ***/
.error-no-image {
    background: url(../images/icon-no-image.png) no-repeat 50% top;
    margin-bottom: 3em;
    padding-top: 8em;
    text-align: center;
}

.error-no-articles {
    background: url('../images/icon-no-articles.png') no-repeat 50% top;
    margin-top: 3em;
    padding-top: 8em;
    text-align: center;
}

/*** Helpers ***/
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}
